*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(137, 133, 133);
}
.pop-up{
    width: 320px;
    height: 84px;
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    margin-bottom: 100px;
    text-align: center;
}
.pop-up__txt{
    margin-top: 10px;
}
.pop-up__img3{
    position: absolute;
    top: -50px;
    right: 0;
}

.pop__up{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}
.pop__up.active{
    transform: translateY(0%) scale(100%);
    background: rgba(108, 100, 100, 0.8);

}
.pop__up-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.pop__up-body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 408px;
    height: 490px;
    background-image: url(img/img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    position: relative;
}
.pop__up-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
}
.pop__up-h2{
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18.9871px;
    line-height: 45px;
    color: black;
    text-align: left;
    margin: 0;
    position: absolute;
    top: -20px;
    left: 50px;
}
.pop__up-txt{
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18.9871px;
    line-height: 25px;
    color: black;
    margin-bottom: 3px;
    text-align: left;
    white-space: nowrap;
    margin: 0;
    width: 279px;
    position: absolute;
    top: 70px;
    left: 115px;
}
.pop__up-txt2{
    display: none;
}
.pop__up-small{
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    color: #929294;
    width: 145px;
    box-sizing: border-box;
}

.pop__up-form{
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 103px;
    position: absolute;
    top: 150px;
    left: 115px;
}
.pop__up-form label{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.pop__up-form input{
    width: 145px;
    height: 33px;
    background: #F8F8F8;
    border: 1px solid #E5E5E5;
    margin-bottom: 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding-left: 9px;
    border-radius: 3.04771px;

}
.pop__up-form input:focus{
    border: none;
}
.pop__up-btn{
    cursor: pointer;
    width: 100%;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FBFBFB;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 40px;
    padding-right: 40px;
    background: #D75260;
    border-radius: 3.04771px;
    border: none;
    white-space: nowrap;
    margin-top: 13px;
    margin-bottom: 14px;
}
@media (min-width:320px) and (max-width:765px) {
    .pop__up-body{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 376px;
        height: 323px;
        background-image: url(img/mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;
        position: relative;
    }
    .pop__up-h2{
        display: none;
        text-align: left;
        margin: 0;
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18.1128px;
        line-height: 20px;
        color: black;
    }
    .pop__up-txt{
        display: none;
    }
    .pop__up-txt2{
        display: block;
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16.9871px;
        line-height: 25px;
        color: black;
        margin-bottom: 3px;
        text-align: left;
        white-space: nowrap;
        margin: 0;
        width: 172px;
        left: 20px;
        top: 35px;
        position: absolute;

    }
    .pop-up__txt br{
        display: none;
    }
    .pop__up-small{
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 15px;
        color: #817575;
        text-align: left;
        width: 277px;
        height: 41px;
    }
    .pop__up-form{
        display: flex;
        flex-direction: column;
        width: 149px;
        height: 96px;
        position: absolute;
        left: 20px;
        top: 90px;
    }
    .pop__up-form input{
        width: 149px;
        height: 33px;
        background: #F8F8F8;
        border: 1px solid #E5E5E5;
        margin-bottom: 6px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        line-height: 11px;
        color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        padding-left: 9px;
        border-radius: 3.04771px;

    }
    .pop__up-form input:focus{
        border: none;
    }
    .pop__up-btn{
        cursor: pointer;
        width: 100%;
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 15px;
        text-align: center;
        color: #FBFBFB;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 4px;
        padding-right: 4px;
        background: #D75260;
        border-radius: 3.04771px;
        border: none;
        white-space: nowrap;
        margin-top: 12px;
        margin-bottom: 18px;
    }
    .pop__up-close{
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 14px;
        height: 14px;
    }
}